Source: hplip
Section: utils
Priority: optional
Maintainer: Debian HPIJS and HPLIP maintainers <pkg-hpijs-devel@lists.alioth.debian.org>
Uploaders: Henrique de Moraes Holschuh <hmh@debian.org>, Torsten Landschoff <torsten@debian.org>, Mark Purcell <msp@debian.org>
Build-Depends: libcups2-dev, libsane-dev, libsnmp-dev, libjpeg62-dev, libusb-dev (>= 0.1.8), 
 debhelper (>= 5.0.37.2), autotools-dev, dpatch (>= 2), autoconf, automake, libtool, cupsddk,
 patch (>= 2.5.9-3bpo1), findutils (>= 4.2.28), 
 python-dev, python-qt3, python-qt4, pyqt-tools, python-support (>= 0.3), 
 python-dbus (>= 0.80), libdbus-1-dev
Standards-Version: 3.7.3
Homepage: http://hplip.sourceforge.net/
Vcs-Svn: svn://svn.debian.org/pkg-hpijs/hplip/trunk/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-hpijs/hplip/?op=log

Package: hplip
Architecture: any
Pre-Depends: python (>= 2.4.4~c1)
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-dbus (>= 0.80), python-imaging,
 coreutils (>= 5.1.0), lsb-base (>= 3), adduser (>= 3.34), cups (>= 1.1.20), 
 hplip-data (>> ${hplip:Upstream-Version}), hplip-data (<< ${hplip:Upstream-Version}.1) 
Recommends: hpijs (>= ${hpijs:Upstream-Version}), cups-client (>= 1.1.20), sane-utils
Suggests: kdeprint | gtklp | xpp, hplip-gui, hplip-doc, openprinting-ppds
Conflicts: hpijs (<< 2.1), hplip-base, hplip-gui (<< 2.8.10), hpoj
Replaces: hplip-data (<< 0.9.3), hplip-base, hplip-gui (<< 2.8.10)
Breaks: udev (<< 136-1)
XB-Python-Version: ${python:Versions}
Description: HP Linux Printing and Imaging System (HPLIP)
 The HP Linux Printing and Imaging System provides full support for
 printing on most HP SFP (single function peripheral) inkjets and many
 LaserJets, and for scanning, sending faxes and for photo-card access on
 most HP MFP (multi-function peripheral) printers.
 .
 HPLIP is composed of:
  * System services to handle communications with the printers
  * HP CUPS backend driver (hp:) with bi-directional communication with
    HP printers (provides printer status feedback to CUPS and enhanced
    HPIJS functionality such as 4-side full-bleed printing support)
  * HP CUPS backend driver for sending faxes (hpfax:)
  * HPIJS Ghostscript IJS driver to rasterize output from PostScript(tm)
    files or from any other input format supported by Ghostscript, and
    also for PostScript(tm) to fax conversion support
    (HPIJS is shipped in a separate package)
  * Command line utilities to perform printer maintenance, such as 
    ink-level monitoring or pen cleaning and calibration
  * GUI and command line utility to download data from the photo card
    interfaces in MFP devices
  * GUI and command line utilities to interface with the fax functions
  * A GUI toolbox to access all these functions in a friendly way
  * HPAIO SANE backend (hpaio) for flatbed and Automatic Document Feeder 
    (ADF) scanning using MFP devices
 .
 USB, JetDirect (network) and parallel-port devices are supported.

Package: hplip-data
Architecture: all
Recommends: hplip
Depends: python
Description: HP Linux Printing and Imaging - data files
 This package contains data files for the HP Linux Printing and
 Imaging System.

Package: hplip-gui
Architecture: all
Depends: hplip, python-qt4, python-qt3, python-reportlab, dbus-x11, gksu | kdebase-bin (<< 4:4.4.0-1) | kdesudo
Recommends: xsane
Replaces: hplip (<< 2.7.7.dfsg.1-0ubuntu2)
Description: HP Linux Printing and Imaging - GUI utilities
 This package contains utilities with graphical user interface (GUI) for
 HPLIP: HP Toolbox, HP Fax, ...

Package: hplip-dbg
Architecture: any
Priority: extra
Depends: hplip (= ${hplip:binary:Version}) | hpijs (= ${hpijs:binary:Version})
Description: HP Linux Printing and Imaging - debugging information
 This package contains debugging symbolic information for all the
 binaries and libraries in the hplip and hpijs packages.
 .
 It is useful for generating backtraces using debuggers like
 gdb and to get better information from tools like ltrace.

Package: hplip-doc
Architecture: all
Section: doc
Description: HP Linux Printing and Imaging - documentation
 This package contains the full documentation for the HP Linux
 Printing and Imaging System for off-line reading.  It includes
 the documentation for the HPIJS IJS driver as well.

Package: hpijs-ppds
Architecture: all
Section: utils
Suggests: hplip
Provides: hplip-ppds
Replaces: hplip-ppds
Conflicts: hplip-ppds, foomatic-filters-ppds (<< 20060113-1)
Depends: foomatic-filters (>= 3.0.2), hpijs (>= ${hpijs:source:Version})
Description: HP Linux Printing and Imaging - HPIJS PPD files
 This package contains PPD (printer definition) files for the
 printers supported through the HP Linux Printing and Imaging
 System HPIJS driver.
 .
 These PPDs should work well with the matching versions of HPLIP
 and HPIJS, but may not be the most up-to-date PPDs available for
 a given printer.  See http://www.openprinting.org/ for the latest
 version of the PPDs (which are not guaranteed to work well).

Package: hpijs
Architecture: any
Section: text
Depends: ${shlibs:Depends}, ${misc:Depends}, hplip (= ${hplip:binary:Version}),
 ghostscript, cupsddk, foomatic-filters
Suggests: hpijs-ppds (= ${hpijs:source:Version}), hplip-doc
Replaces: hpijs-ppds (<< 2.6.10+1.6.10-1), hplip-ppds (<< 1.6.10-1)
Description: HP Linux Printing and Imaging - gs IJS driver (hpijs)
 This package contains an IJS printer driver for Ghostscript, which
 adds support for most inkjet printers and some LaserJet printers
 manufactured by HP.  It is also required for HPLIP fax support.
 .
 The Debian package of hpijs includes the so-called rss patch, to use
 pure black ink instead of composite black in printers that don't do
 color map conversion in firmware.
 .
 HPIJS can take advantage of Ghostscript IJS KRGB support when
 available, to enhance black printing on printers that do color
 map conversion in firmware and are thus not affected by the old
 rss patch.
 .
 Users of the CUPS printing system are advised to also install the
 hplip package, and use the hp CUPS backend to send data to the printer.
 HPLIP supports USB, networked and parallel-port devices, and enables
 extended HPIJS functionality such as border-less printing.
 Selecting any hpijs ppd in CUPS will use hpijs automatically.
 .
 Users of spoolers other than CUPS with printers connected through USB or
 parallel ports are advised to install the hpoj package.  Extended HPIJS
 functionality will not be available.
 .
 HPIJS is meant to be used through the foomatic system (see the
 foomatic-filters package).
