Source: hplip
Section: utils
Priority: optional
Maintainer: Henrique de Moraes Holschuh <hmh@debian.org>
Uploaders: Torsten Landschoff <torsten@debian.org>
Build-Depends: libcupsys2-dev, libsnmp9-dev, libjpeg62-dev, python, python-dev, python-qt3 (>= 3.15-3), pyqt-tools (>= 3.15-3), debhelper (>> 4), autotools-dev, dpatch (>= 2)
Standards-Version: 3.6.2

Package: hplip-base
Architecture: any
Conflicts: hpijs (<< 2), foomatic-db-hpijs (<< 1.5-20050114-1), foomatic-filters-ppds (<< 20050114-1), hplip (<< 0.9.3), hplip-data (<< 0.9.3)
Depends: lsb-base (>= 3), adduser (>= 3.34), cupsys (>= 1.1.20), hplip-data (= ${Source-Version}), ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Recommends: cupsys-client (>= 1.1.20), hplip-ppds (= ${Source-Version})
Replaces: hplip (<< 0.9.3), hplip-data (<< 0.9.3)
Suggests: hpijs, hplip
Description: HP Linux Printing and Imaging System - base system
 The HP Linux Printing and Imaging System provides full support for
 printing on most HP SFP (single function peripheral) InkJets and
 many LaserJets, and for scanning and photo-card access on most HP
 MFP (multi-function peripheral) printers.
 .
 HPLIP is composed of:
  * HP CUPS backend driver (hp:/) with bi-directional communication with
    HP printers (provides printer status feedback to CUPS and enhanced
    HPIJS functionality such as 4-side fullbleed printing support)
  * HPIJS Ghostscript IJS driver to rasterize output from PostScript(tm)
    files or from any other input format supported by Ghostscript
    (shipped in package hpijs)
  * Command line utilities to perform printer maintenance, such as 
    ink-level monitoring or pen cleaning and calibration
  * Command line utility to download data from the photo card interfaces
    in MFP devices
  * A GUI toolbox to access all these functions in a friendly way
    (shipped in package hplip)
  * HPAIO SANE backend (hpaio) for flatbed and Automatic Document Feeder 
    (ADF) scanning using MFP devices
 .
 This is this the base hplip system without the graphical user 
 interface and without the HP toolbox.  Install the hplip package to
 use the graphical user interface and HP toolbox.
 .
 USB, JetDirect (network) and parallel-port devices are supported.
 .
  Homepage: http://hpinkjet.sourceforge.net

Package: hplip
Architecture: all
Depends: hplip-base (= ${Source-Version}), python-qt3, ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Suggests: kdeprint | gtklp | xpp
Replaces: hplip-data (<< 0.9.3)
Description: HP Linux Printing and Imaging System (hplip) - GUI
 The HP Linux Printing and Imaging System provides full support for
 printing on most HP SFP (single function peripheral) InkJets and
 many LaserJets, and for scanning and photo-card access on most HP
 MFP (multi-funtcion peripheral) printers.
 .
 This package contains the GUI components of the HPLIP system,
 including the hp-toolbox.  Refer to the hplip-base package for
 the basic hplip system capabilities.
 .
 The hp-toolbox can page an administrator (through email or a
 popup window through an X11 session) when the printer needs
 attention.
 .
  Homepage: http://hpinkjet.sourceforge.net

Package: hplip-data
Architecture: all
Depends: hplip-base (= ${Source-Version})
Description: HP Linux Printing and Imaging - data files
 This package contains data files for the HP Linux Printing and
 Imaging System.

Package: hplip-ppds
Architecture: all
Suggests: hpijs, hplip-base
Description: HP Linux Printing and Imaging - PPD files
 This package contains PPD (printer definition) files for the 
 printers supported by the HP Linux Printing and Imaging System.
 .
 These PPDs should work well with this version of HPLIP and HPIJS,
 but may not be the most up-to-date PPDs available for a given
 printer.  See the foomatic-filters-ppds and foomatic-db-hpijs
 packages, or http://linuxprinting.org/ for the latest version
 of the PPDs.

Package: hpijs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gs-gpl (>= 8.01-5) | gs-esp (>= 7.07.01-8) | gs-afpl (>= 7.04-2)
Suggests: hplip | hplip-base | hpoj, hplip-ppds, foomatic-filters-ppds, foomatic-filters
Conflicts: hplip-ppds (<< ${Source-Version}), hplip-ppds (>> ${Source-Version})
Description: HP Linux Printing and Imaging - gs IJS driver (hpijs)
 This package contains the hpijs binary which provides Ghostscript
 with an IJS driver for most inkjet printers and some LaserJet printers
 manufactured by HP.
 .
 It includes the so-called rss patch, to use pure black ink instead
 of composite black in printers that don't do color map conversion
 in firmware.  It can take advantage of Ghostscript IJS KRGB support
 to do the same on printers that do color map conversion in firmware.
 .
 Users of the CUPS printing system are advised to also install the
 hplip package, and use the hp CUPS backend to send data to the printer.
 HPLIP supports USB, networked and parallel-port devices, and enables
 extended HPIJS functionality such as border-less printing.
 Selecting any hpijs ppd in CUPS will use hpijs automatically.
 .
 Users of spoolers other than CUPS connected through USB or parallel
 ports are advised to install the hpoj package.  Extended HPIJS 
 functionality will not be available, however, as hpoj does not support
 bi-dir mode.
 .
 HPIJS is meant to be used through the foomatic system (see the
 foomatic-filters package).
 .
  Homepage: http://hpinkjet.sourceforge.net
